html
{
overflow:auto;
}

body{
	background-color: #a0aaaa;
}

input,textarea
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
align:right;
color: #000060;
background: #a0aaaa;
border-width: 2px;
border-color:#CCCCCC;
}

input::-webkit-input-placeholder
{
color: #717171;
}

input:disabled
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
align:right;
color: #717171;
/*background: #8a8a8a;
border-width: 2px;
border-color:#CCCCCC;*/
}

.disabled
{
    color: #717171;
}

button
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
align:right;
color: #000060;
background: #a0aaaa;
border-width: 2px;
border-color:#CCCCCC;
}

select {
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
align:right;
color: #000060;
background: #a0aaaa;
border-width: 2px;
border-bottom-color:#CCCCCC;
border-right-color:#CCCCCC;
border-left-color:#787878;
border-top-color:#787878;
}

select[disabled]
{
/*background: #8a8a8a;*/
color: #717171;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span{
    display:inline-block;
    width:11px;
    height:11px;
    background:url(check-box.png) left top no-repeat;
    background-size: 11px 11px;
}

input[type="checkbox"]:checked + label span{
    background:url(check-box-checked.png) left top no-repeat;
    background-size: 11px 11px;
}

.headrow {
background-color:#a0aaaa;
font-size:11px;
color:#000060;
height:30px; 
}

.bluelad
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
color:#000060;
}

.cyanlad
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
color:#33FFFF;
}

.greenlad
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
color:#006600;
}
.whitelad
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
color:#FFFFFF;
}
.orangelad
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
color:#FF9900;
}
.redlad
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
color:#990000;
}

.yellowlad
{
font-family:Euroscope, courier, monospace, sans-serif;
font-size:11px;
color:#FFFF00;
}

.buttsmall {
color:#000060;
align:left;
text-align:center;
vertical-align:middle;
background-color:#a0aaaa;
height:12px;
border-width:2px;
padding: 2px;
border-style:solid;
border-color:#666666;
background-color:#a0aaaa;
border-top-color: #CCCCCC;
border-left-color: #CCCCCC;
border-bottom-width: 1px;
border-right-width: 1px;
font-size:11px;
font-family:Euroscope, courier, monospace, sans-serif;
width:50px;
}

.buttsmallin {
color:#000060;
align:left;
text-align:center;
vertical-align:middle;
background-color:#999999;
height:12px;
border-width:2px;
padding: 2px;
border-style:solid;
border-color:#666666;
border-bottom-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-width: 1px;
border-right-width: 1px;
font-size:11px;
font-family:Euroscope, courier, monospace, sans-serif;
width:50px;
}

.topmen{
border-color:#CCCCCC;
border-style:none;
background-color:#a0aaaa;
position:fixed;
height:5%;
width:100%;
top:0px;
left:0px;
font-size:11px;
color:#000060;
font-family:Euroscope, courier, monospace, sans-serif;
vertical-align:middle;
}


.sunken {
border-width:2px;
padding: 2px;
spacing: 2px;
border-style:solid;
border-color:#666666;	
border-bottom-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-width: 2px;
border-right-width: 2px;
background-color: #a0aaaa;
}

table{
	background-color: #a0aaaa;
	position: relative;
	border-collapse: collapse;
	padding:0;
}

.sections{
	width: 100%;
	height: 95%;
	top: 5%;
	left: 0%;
	position: absolute;
}

.titlebar {
    height:20px;
    width:100%;
    border-bottom: 2px solid #990000;
}

.head{
    text-align: center;
    font-size: 15px;
    margin:4px;
}

.footer{
    height:20px;
    width:100%;
    border-top: 2px solid #990000;
    position: fixed;
    top: calc(100vh - 24px);
}

.tableName{
    text-align:right;
}

.drag {
    -webkit-app-region: drag;
    width:80px;
    border-right: 2px solid #990000;
    position: fixed;
    text-align: center;
    font-size: 14px;
    height:20px;
}

.drag:hover {
    color: #a0aaaa;
    background-color: #000060;
}

.close {
    width:80px;
    border-left: 2px solid #990000;
    position: fixed;
    text-align: center;
    font-size: 14px;
    height:20px;
    left: calc(100vw - 80px);
    top: 2px;
    -webkit-user-select: none;
    user-select: none;
}

.close:hover {
    color: #a0aaaa;
    background-color: #000060;
    cursor: default;
}

.scrollbar {
    overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: #000060;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-width: 2px;
    border-style:solid;
    border-color:#666666;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    border-top-width: 1px;
    border-left-width: 1px;

    background-color: #a0aaaa;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #000060;
}